<a href="https://colab.research.google.com/github/aezamsos/data-statistics-analytics-python/blob/main/Day1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
temperature = 30.1
print("Temperature:", temperature)

Temperature: 30.1

In [ ]:
temperature = 30.1
print("Temperature:", temperature)

my_list = [1, 2, 3, 4, 5]
my_list

Temperature: 30.1

[1, 2, 3, 4, 5]

In [ ]:
my_tuple = (1, 2, 3, 4, 5)
my_tuple

(1, 2, 3, 4, 5)

In [ ]:
is_active = True  # Boolean variable, set to True
print("Is active?", is_active)

is_valid = False  # Boolean variable, set to False
print("Is valid?", is_valid)

Is active? True
Is valid? False

In [ ]:
my_frozenset = frozenset([1, 2, 3, 4, 5])
print(my_frozenset)
print(type(my_frozenset))

frozenset({1, 2, 3, 4, 5})
<class 'frozenset'>

In [ ]:
#convert T-C-F: dated: 07-02-2025
input_of_Celsius = input("Enter temperature in Celsius: ")
fahrenheit = (celsius * 9/5) + 32
print("Temperature in Fahrenheit:", fahrenheit)

Enter temperature in Celsius: 88
Temperature in Fahrenheit: 77.0

In [ ]:
#convert T-C-F: dated: 07-02-2025
input_of_Celsius = input("Enter temperature in Celsius: ")
try:
    celsius = float(input_of_Celsius)
    fahrenheit = (celsius * 9/5) + 32
    print("Temperature in Fahrenheit:", fahrenheit)
except ValueError:
    print("Invalid input. Please enter a number for the temperature.")

Enter temperature in Celsius: 30
Temperature in Fahrenheit: 86.0